@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


*{
    margin: 0;
    padding: 0;
}
body{
    font-family: "Fira Sans", serif;
    background-color: #F5F5F5;
}



/* Banner styles start here */

.banner{
    max-width: 1230px;
    margin: auto;
    margin-top: 50px;
    padding: 80px 60px;
    display: flex;
    justify-content: space-between;
    gap: 64px;
    background-color: #C6E4D6;
    border-radius: 24px;
}

.banner-left{
    margin-top: 37px;
    margin-bottom: 37px;
}

.banner-img{
    width: 475px;
}

.banner-title{
    font-size: 56px;
    font-weight: 700px;
}

.banner-name{
    color: #6A7972;
    font-size: 24px;
    font-weight: 500px;
    margin-bottom: 16px;
}

.banner-btn{
    padding: 17px 34px;
    color: white;
    background-color: #006A50;
    font-size: 18px;
    font-weight: 600px;
    border-radius: 8px;
    border: none;
    margin-top: 24px;
}

.banner-btn:hover{
    background-color: #FFC239;
}

/* The vision of future styles start here */

.future{
    max-width: 1330px;
    margin: auto;
    margin-top: 80px;
    margin-bottom: 50px;
}

.future-title{
    font-size: 40px;
    font-weight: 700px;
    margin-bottom: 24px;
}

.future-para{
    color: #797979;
    margin-bottom: 32px;
}

.cards{
    display: flex;
    gap: 24px;
}

.card-1{
    width:410px;
    padding: 32px;
    border-radius: 16px;
}

.card-icon{
    width: 64px;
    height: 64px;
    margin-bottom: 24px;
}

.card-title{
    color: #36383C;
    font-size: 20px;
    font-weight: 700px;
    margin-bottom: 12px;
}

.card-btn-1{
    padding: 11px 20px;
    border-radius: 8px;
    color: white;
    font-weight: 600px;
    background-color: #5490F5;
    border: none;
    margin-top: 24px;
}

.card-btn-1:hover{
    background-color: red;
}
.card-btn-2{
    padding: 11px 20px;
    border-radius: 8px;
    color: white;
    font-weight: 600px;
    background-color: #09A15C;
    border: none;
    margin-top: 48px;
}

.card-btn-2:hover{
    background-color: red;
}
.card-btn-3{
    padding: 11px 20px;
    border-radius: 8px;
    color: white;
    font-weight: 600px;
    background-color: #FFC239;
    border: none;
    margin-top: 48px;
}

.card-btn-3:hover{
    background-color: red;
}

.card-para{
    color: #797979;
}



.card-1-bg{
    background-color: #D5E1F5;
}

.card-2-bg{
    background-color: #C6E4D6;
}
.card-3-bg{
    background-color: #F7EBCF;
}


/* Quote section styles here*/

.quote{
    padding: 24px 24px;
    max-width: 1280px;
    margin: auto;
    
    
    background-color: white;
    border-radius: 16px;
    border: 1px solid #DBDBDB;
}

.quote-bg{
    background-image: url(../assets/quote-bg.png);
    background-repeat: no-repeat;
}
.quote-para{
    color: #3E3E3E;
    margin-bottom: 12px;
    line-height: 24px;
    padding-top: 20px;
}

.quote-title{
    color: #3E3E3E;
    font-size: 20px;
    font-weight: 600px;
    margin-bottom: 4px;
}

.quote-role{
    color: #909090;
    margin-top: 8px;
    padding-bottom: 28px;
}


/* The news styles here */

.news{
    max-width: 1280px;
    margin: auto;
    margin-top: 80px;
}

.news-heading{
    font-size: 40px;
    font-weight: 700px;
    margin-bottom: 24px;
}

.news-card-1{
    padding: 48px;
    background-color: white;
    border-radius: 24px;
    display: flex;
    gap: 32px;
    margin-bottom: 24px;
    
}

.news-date{
    display: flex;
    gap: 12px;
    color: #797979;
    margin-bottom: 18px;
    margin-top: 16px;
}

.news-para{
    color: #797979;
    margin-bottom: 32px;
    line-height: 24px;
}

.news-title{
    font-size: 32px;
    font-weight: 700px;
    color: #3E3E3E;
    margin-bottom: 12px;
}

.satelite-img{
    border-radius: 24px;
    width: 400px;
    height: 300px;
}

.news-btn{
    padding: 13px 26px;
    border-radius: 8px;
    color: white;
    font-size: 18px;
    font-weight: 600px;
    background-color: #006A50;
    border: none;
}

.news-btn:hover{
    background-color: red;
}


/* Donate section styles here */

.donate{
    max-width: 1280px;
    margin: auto;
}
.donate-title{
    font-size: 40px;
    font-weight: 700px;
    text-align: center;
    margin-bottom: 24px;
    margin-top: 60px;
}

.donate-para{
    color: #797979;
    margin-bottom: 32px;
    line-height: 24px;
    text-align: center;
    width: 88%;
    margin-left: auto;
    margin-right: auto;
}

.donate-cards{
    display: flex;
    gap: 24px;
    justify-content: center;
    margin-bottom: 32px;
}

.donate-card{
    padding: 40px;
    border-radius: 16px;
    background-color: white;
    font-size: 40px;
    font-weight: bold;
    color: #333936;
    border: 1px solid #DBDBDB;
}

.donate-card:hover{
    
    background-color:#C6E4D6;
}
.donate-input{
    width: 76%;
    padding: 20px 0;
    border: none;
    text-align: center;
    font-size: 20px;
    margin-left: 150px;
}

.donate-input::placeholder{
    color: #B7B7B7;
}
.donate-btn{
    padding: 17px 34px;
    border-radius: 8px;
    color: white;
    font-size: 18px;
    font-weight: 600px;
    background-color: #006A50;
    border: none;
    margin-top: 32px;
    
}

.donate-btn:hover{
    background-color: red;
}
.btn-div{
    display: flex;
    justify-content: center;
}


/* Newsletter styles here */

.newsletter{
    max-width: 1280px;
    margin: auto;
    background-color: #C6E4D6;
    margin-top: 80px;
    border-radius: 24px;
}
.newsletter-title{
    font-size: 40px;
    font-weight: bold;
    padding-top: 80px;
    margin-bottom: 16px;
    text-align: center;
}

.newsletter-para{
    width: 50%;
    text-align: center;
    margin: auto;
    margin-bottom: 24px;
}

.buttons{
    display: flex;
    justify-content: center;
    margin-bottom: 25px;
}

.newsletter-input{
    border: none;
    padding:18px 400px 18px 40px;
    border-bottom-left-radius:8px ;
    border-top-left-radius: 8px;
    

}

.newsletter-input::placeholder{
    color: #B7B7B7;
}

.newsletter-btn{
    border: none;
    padding: 0 34px;
    font-size: 18px;
    font-weight: 600px;
    background-color: #006A50;
    color: white;
    border-bottom-right-radius:8px ;
    border-top-right-radius: 8px;
}

.newsletter-promise{
    text-align: center;
    color: #797979;
    padding-bottom: 80px;

}


/* Footer styles here */

footer{
    background-color: white;
    margin-top: 80px;
}

.footer-title{
    padding-top: 50px;
    margin-bottom: 32px;
    font-size: 32px;
    font-weight: bold;
    text-align: center;
}

hr{
    width: 70%;
    margin: auto;
    border:1px solid #D1D1D1;
    margin-bottom: 32px;
}

.images{
    display: flex;
    justify-content: center;
    padding-bottom: 50px;
    gap: 24px;
}

.item{
    width: 24px;
    height: 24px;
}